@{
    ViewBag.Title = "HocTap";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- Thanh menu học tập ngay dưới navbar -->
<div class="bg-dark py-3 w-100">
    <div class="container-fluid">
        <h2 class="text-white">Học tập</h2>
        <ul class="nav justify-content-start">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Tất cả khóa học</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Đang tiến hành</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Đã hoàn thành</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Đã lưu trữ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Công cụ học tập</a>
            </li>
        </ul>
    </div>
</div>

<!-- Nội dung chính của trang học tập -->
<div class="container mt-4">
    <p>Nội dung học tập ở đây...</p>
</div>
