@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- Divider line (Gạch ngang phân cách) -->
<hr class="my-0"> 
<div class="bg-white py-1 shadow-sm border-bottom mt-0">
    <div class="container">
        <ul class="nav justify-content-center mb-0">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Khóa học zoom</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Khóa học video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">CNTT & Phần mềm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Năng suất văn phòng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Phát triển cá nhân</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Thiết kế</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Marketing</a>
            </li>
        </ul>
    </div>
</div>

<!-- Nội dung chính của trang chủ -->
<div class="container mt-4">
    <p>Danh sach cac khoa hoc</p>
</div>
